.navbox {
    .navs {
        display: flex;

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            padding: 1rem;
            font-weight: 500;
            font-size: 1.1rem;

            svg {
                font-size: 1rem;
                width: 1rem;
                height: 1rem;
                color: var(--dark-gray);
            }

            .nav-text {
                display: none;
                padding-left: .5rem;
                color: black;
            }
        }

        .nav.open {
            border-bottom: solid 1px var(--primary-color);
            font-weight: 600;

            .nav-text {
                display: flex;
            }

            svg {
                color: var(--primary-color);
            }
        }
    }

    .contents {
        .content {
            display: none;
        }

        .content.show {
            display: flex;
        }
    }
}