.textarea-label-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .label{
        padding: 0 1rem .5rem;
    }
    .textarea{
        border: solid 1px var(--box-border-color);
        padding: .5rem 1rem;
    }
}
.input-label-box.hidden{
    display: none;
}