.order-history{
    border: solid 1px var(--box-border-color);
    padding: 2rem;
    .header{
        display: flex;
        align-items: center;
        margin: 0 0 1.5rem;
        svg{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .5rem;
        }
        span{
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}