.faq {
    margin: 2rem auto !important;
    .box {
        width: 100%;
        box-sizing: border-box;
        .header {
            text-align: center;
            margin: 0 0 1.5rem;
        }

        .input-box {
            margin-bottom: 1rem;
            .icon {}

            .input {}

            .btn-holder {
                .btn {

                }
            }
        }
    }
}